<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- Appenders -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%C] %p - %m%n"/>
		</layout>	    
	</appender>

	<appender name="udatm_rollfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${LOG_FILE_LOCATION}/udatm_log.xml" />
		<param name="immediateFlush" value="true" />
		<param name="append" value="true" />
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.xml.XMLLayout">
			<param name="LocationInfo" value="true"/>
		</layout>
	</appender>
	
	<appender name="default_rollfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${LOG_FILE_LOCATION}/default_udatm_log.xml" />
		<param name="immediateFlush" value="true" />
		<param name="append" value="true" />
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.xml.XMLLayout">
			<param name="LocationInfo" value="true"/>
		</layout>
	</appender>
	
	<!-- Loggers-->
	<logger name="com.shinysideup.udatm.lib" additivity="false">
		<level value="debug" />
		<appender-ref ref="udatm_service_rollfile" />
	</logger>
	
	<root>
		<level value="debug" />
		<appender-ref ref="default_rollfile" />
	</root>
	
</log4j:configuration>